.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
}

div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}
